@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  transition: all, 0.3s;
}
body {
  background-color: rgb(22, 22, 22);
  color: white;
}
@font-face {
  font-family: "playfair";
  src: url("../public/PlayfairDisplay-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "lexend";
  src: url("../public/Lexend-ExtraLight.ttf");
}
.playfair {
  font-family: playfair;
}
.lexend {
  font-family: lexend;
}

.projectCard {

}
